[submodule "mdcomp"]
	path = mdcomp
	url = https://github.com/flamewing/mdcomp
[submodule "luaposix"]
	path = luaposix
	url = https://github.com/luaposix/luaposix
[submodule "moonfltk"]
	path = moonfltk
	url = https://github.com/stetre/moonfltk
[submodule "lua-zlib"]
	path = lua-zlib
	url = https://github.com/brimworks/lua-zlib
[submodule "serpent"]
	path = serpent
	url = https://github.com/pkulchenko/serpent
[submodule "lua-compat-5.3"]
	path = lua-compat-53
	url = https://github.com/keplerproject/lua-compat-5.3
